body {
	margin:0;
	padding: 0;
	font-family: Arial;
}

.header {
	width: auto;
	height: 135px;
	background: #f9f9f9;
	border-bottom: 1px solid #b2b2b2;
}

.header img {
	height: 50px;
	margin: 0;
	position: absolute;
	top: 27px;
	left:20px;
	
}

.sBox {
	width: 600px; height: 45px;
	margin: 25px 0 0 170px;
	padding: 0px 0px 0px 10px;
	background: white;
	position: absolute;
	top: 0px;
	border: 1px solid #dddddd;
}



input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 

	width: 500px; height: 35px;
	margin: 5px 0 0 0;
	padding: 0px 0px 0px 5px;
	border: 0;
	font-size: 17px;
}

#voiceLogo {
	width: 15px;
	height: auto;
	left: 540px;
	top: 12px;
}

#sLogo {
	width: 17px;
	height: auto;
	left: 575px;
	top: 12px;
}

.header ul {
	font-family: Arial;
	font-size: 13px;
	color: #606060;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
	margin: 0;
    padding: 0;
	float:left;
	}

.header li a {
	display: block;
	width: 60px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	color: #606060;
}

#lNav {
	position: absolute;
	top: 103px;
	left: 155px;
}

#rNav {
	position: absolute;
	top: 103px;
	left: 650px;
}

#lNav li .active {
	color: #4285f4;
	border-bottom: 3px solid #4285f4;
}

#appLogo {
	width: 20px;
	height: 20px;
	margin-top: -20px;
	margin-left: 1500px;
}

#notiLogo {
	width: 20px;
	height: 20px;
	margin-top: -20px;
	margin-left: 1545px;
}

#profPic {
	width: 30px;
	height: 30px;
	margin-top: -25px;
	margin-left: 1595px;
}	

.sResNum {
	font-family: Arial;
	font-size: 12px;
	color: #808080;
	margin-left: 170px;
	margin-bottom: 0;
}

.sBody {
	height: 750px;
	width: 620px;
	margin: 0 0 0 170px;
	font-family: Arial;
}

.sBody a {
	color: #1a0dab;
}

.sResult {
	font-size: 13px;
}

.sResult a {
	text-decoration: none;
	font-size: 18px;
}

.sResult p {
	margin: 0;
	padding: 0;
}

.sLink {
	color: #006400;
}

.sResult {
	margin-top: 25px;
}

.sBody h3 {
	font-weight: normal;
}

.sBody li a{
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
}

.sBody ul {
	list-style-type: none;
	float: left;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.ooLogo {
	position: relative;
	left: 280px;
	top: 10px;
}

.nxtP li a {
	text-decoration: none;
}

.nxtP {
	list-style-type: none;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	margin-left: 285px;
	font-family: Arial;
}

.nxtP li {
	display: inline;
	padding-right: 3px;
}

.footer {
	width: auto;
	height: 100px;
	background: #f9f9f9;
	border-top: 1px solid #b2b2b2;
	
}

.footer ul {
	font-family: Arial;
	font-size: 13px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 160px;
}

.footer li {
	margin: 0 0 0 15px;
    padding: 0;
	float:left;
	}

.footer li a {
	font-size: 16px;
	color: #606060;
	display: block;
	height: 30px;
	text-align: center;
	text-decoration: none;
}

.footer p {
	margin: 5px 0 20px  170px;
	clear: both;
	color: #808080; 
} 